@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e8f6f9;
}

#root,
#mainBox{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
}
